
services:
  db:
    image: mysql:8.0
    container_name: event-db
    restart: always
    environment:
      MYSQL_DATABASE: event
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - event-net

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: event-backend
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/event
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      - db
    ports:
      - "8082:8081"
    networks:
      - event-net

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: event-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - event-net

volumes:
  db_data:

networks:
  event-net:
    driver: bridge
