apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  labels:
    app: event-app
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: event-app
    tier: database
  clusterIP: None # Headless service for direct communication
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  labels:
    app: event-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: event-app
      tier: database
  template:
    metadata:
      labels:
        app: event-app
        tier: database
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            # Database variables
            - name: MYSQL_DATABASE
              value: "event"
            - name: MYSQL_ROOT_PASSWORD
              value: "root" # In a real environment, this should be a K8s Secret!
          volumeMounts:
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  labels:
    app: event-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi